<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

        <flux:form id="teufelsCptCntBsColtwo"
               label="TYPO3 :: Bootstrap :: 2 Spalten"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">
 

            <flux:form.sheet name="smartphone" label="Smartphone" description="" shortDescription="Display options for large smartphone">
                <f:render section="GridPreview" 
                  arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, reverse-sm: reverse-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, reverse-md: reverse-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg, reverse-lg: reverse-lg}" />
                <flux:field.custom name="customXs">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-xs.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.select name="col-xs" label="Width of columns on smartphone" default="col-xs-12" requestUpdate="1"
                                   items="{
                           0:{0:'Both columns 100%',1:'col-xs-12'},
                           1:{0:'Both columns 50%',1:'col-xs-6'}
                           }"
                />
                <flux:field.select name="visibility-xs" label="Visibility on smartphone" default="" requestUpdate="1"
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on Smartphone',1:'visible-xs'},
                           2:{0:'Hide on Smartphone',1:'hidden-xs'}
                           }"
                />
            </flux:form.sheet>
            <flux:form.sheet name="tablet" label="Tablet" description="" shortDescription="Display options for tablet">
            	<f:render section="GridPreview" 
                  arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, reverse-sm: reverse-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, reverse-md: reverse-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg, reverse-lg: reverse-lg}" />
                <flux:field.custom name="customSm">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-sm.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-sm" label="Use Offset on tablet" default="NULL" requestUpdate="1"/>
                <flux:field.checkbox name="reverse-sm" label="Reverse column ordering" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-sm}">
                    <f:then>
                        <flux:field.select name="col-sm" label="Width of columns on tablet" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-sm-5'},
                                   2:{0:'First Column 1/10',1:'col-sm-1'}
                                   3:{0:'First Column 2/10',1:'col-sm-2'}
                                   4:{0:'First Column 3/10',1:'col-sm-3'}
                                   5:{0:'First Column 4/10',1:'col-sm-4'}
                                   6:{0:'First Column 6/10',1:'col-sm-6'}
                                   7:{0:'First Column 7/10',1:'col-sm-7'}
                                   8:{0:'First Column 8/10',1:'col-sm-8'}
                                   9:{0:'First Column 9/10',1:'col-sm-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-sm" label="Width of columns on tablet" default="col-sm-6" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 100%',1:'col-sm-12'},
                           2:{0:'Both columns 50%',1:'col-sm-6'},
                           3:{0:'First Column 1/12',1:'col-sm-1'}
                           4:{0:'First Column 2/12',1:'col-sm-2'}
                           5:{0:'First Column 3/12',1:'col-sm-3'}
                           6:{0:'First Column 4/12',1:'col-sm-4'}
                           7:{0:'First Column 5/12',1:'col-sm-5'}
                           8:{0:'First Column 7/12',1:'col-sm-7'}
                           9:{0:'First Column 8/12',1:'col-sm-8'}
                           10:{0:'First Column 9/12',1:'col-sm-9'}
                           11:{0:'First Column 10/12',1:'col-sm-10'}
                           12:{0:'First Column 11/12',1:'col-sm-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-sm2">
                    Second Column:
                    <f:if condition="{offset-sm}">
                        <f:then>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1">9/10<v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-2">8/10<v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-3">7/10<v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-4">6/10<v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-5">50%<v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-6">4/10<v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-7">3/10<v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-8">2/10<v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-9">1/10<v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1">11/12<v:variable.set name="col-sm2-class" value="col-sm-11" /></f:case>
                                <f:case value="col-sm-2">10/12<v:variable.set name="col-sm2-class" value="col-sm-10" /></f:case>
                                <f:case value="col-sm-3">9/12<v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-4">8/12<v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-5">7/12<v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-6">50%<v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-7">5/12<v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-8">4/12<v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-9">3/12<v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-10">2/12<v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-11">1/12<v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                                <f:case value="col-sm-12">100%<v:variable.set name="col-sm2-class" value="col-sm-12" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>
                <flux:field.select name="visibility-sm" label="Visibility on tablet" default="" requestUpdate="1"
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on tablet',1:'visible-sm'},
                           2:{0:'Hide on tablet',1:'hidden-sm'}
                           }"
                />

            </flux:form.sheet>
            <flux:form.sheet name="desktop" label="Desktop" description="" shortDescription="Display options for desktop">
            	<f:render section="GridPreview" 
                  arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, reverse-sm: reverse-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, reverse-md: reverse-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg, reverse-lg: reverse-lg}" />
                <flux:field.custom name="customMd">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-md.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-md" label="Use Offset on desktop" default="NULL" requestUpdate="1"/>
                <flux:field.checkbox name="reverse-md" label="Reverse column ordering" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-md}">
                    <f:then>
                        <flux:field.select name="col-md" label="Width of columns on desktop" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-md-5'},
                                   2:{0:'First Column 1/10',1:'col-md-1'}
                                   3:{0:'First Column 2/10',1:'col-md-2'}
                                   4:{0:'First Column 3/10',1:'col-md-3'}
                                   5:{0:'First Column 4/10',1:'col-md-4'}
                                   6:{0:'First Column 6/10',1:'col-md-6'}
                                   7:{0:'First Column 7/10',1:'col-md-7'}
                                   8:{0:'First Column 8/10',1:'col-md-8'}
                                   9:{0:'First Column 9/10',1:'col-md-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-md" label="Width of columns on desktop" default="col-md-6" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 50%',1:'col-md-6'},
                           2:{0:'First Column 1/12',1:'col-md-1'}
                           3:{0:'First Column 2/12',1:'col-md-2'}
                           4:{0:'First Column 3/12',1:'col-md-3'}
                           5:{0:'First Column 4/12',1:'col-md-4'}
                           6:{0:'First Column 5/12',1:'col-md-5'}
                           7:{0:'First Column 7/12',1:'col-md-7'}
                           8:{0:'First Column 8/12',1:'col-md-8'}
                           9:{0:'First Column 9/12',1:'col-md-9'}
                           10:{0:'First Column 10/12',1:'col-md-10'}
                           11:{0:'First Column 11/12',1:'col-md-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-md2">
                    Second Column:
                    <f:if condition="{offset-md}">
                        <f:then>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1">9/10<v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-2">8/10<v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-3"> 7/10<v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-4"> 6/10<v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-5">50%<v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-6">4/10<v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-7">3/10<v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-8">2/10<v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-9">1/10<v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1">11/12<v:variable.set name="col-md2-class" value="col-md-11" /></f:case>
                                <f:case value="col-md-2">10/12<v:variable.set name="col-md2-class" value="col-md-10" /></f:case>
                                <f:case value="col-md-3">9/12<v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-4">8/12<v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-5">7/12<v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-6">50%<v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-7">5/12<v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-8">4/12<v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-9">3/12<v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-10">2/12<v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-11">1/12<v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>
                <flux:field.select name="visibility-md" label="Visibility on desktop" default="" requestUpdate="1"
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on desktop',1:'visible-md'},
                           2:{0:'Hide on desktop',1:'hidden-md'}
                           }"
                />
            </flux:form.sheet>
            <flux:form.sheet name="largedesktop" label="Large desktop" description="" shortDescription="Display options for large desktop">
            	 <f:render section="GridPreview" 
                  arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, reverse-sm: reverse-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, reverse-md: reverse-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg, reverse-lg: reverse-lg}" />
                <flux:field.custom name="customLg">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-lg.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-lg" label="Use Offset on large desktop" default="NULL" requestUpdate="1"/>
                <flux:field.checkbox name="reverse-lg" label="Reverse column ordering" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-lg}">
                    <f:then>
                        <flux:field.select name="col-lg" label="Width of columns on large desktop" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-lg-5'},
                                   2:{0:'First Column 1/10',1:'col-lg-1'}
                                   3:{0:'First Column 2/10',1:'col-lg-2'}
                                   4:{0:'First Column 3/10',1:'col-lg-3'}
                                   5:{0:'First Column 4/10',1:'col-lg-4'}
                                   6:{0:'First Column 6/10',1:'col-lg-6'}
                                   7:{0:'First Column 7/10',1:'col-lg-7'}
                                   8:{0:'First Column 8/10',1:'col-lg-8'}
                                   9:{0:'First Column 9/10',1:'col-lg-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-lg" label="Width of columns on large desktop" default="col-lg-6" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 50%',1:'col-lg-6'},
                           2:{0:'First Column 1/12',1:'col-lg-1'}
                           3:{0:'First Column 2/12',1:'col-lg-2'}
                           4:{0:'First Column 3/12',1:'col-lg-3'}
                           5:{0:'First Column 4/12',1:'col-lg-4'}
                           6:{0:'First Column 5/12',1:'col-lg-5'}
                           7:{0:'First Column 7/12',1:'col-lg-7'}
                           8:{0:'First Column 8/12',1:'col-lg-8'}
                           9:{0:'First Column 9/12',1:'col-lg-9'}
                           10:{0:'First Column 10/12',1:'col-lg-10'}
                           11:{0:'First Column 11/12',1:'col-lg-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-lg2">
                    Second Column:
                    <f:if condition="{offset-lg}">
                        <f:then>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1">9/10<v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-2">8/10<v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-3"> 7/10<v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-4"> 6/10<v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-5">50%<v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-6">4/10<v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-7">3/10<v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-8">2/10<v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-9">1/10<v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1">11/12<v:variable.set name="col-lg2-class" value="col-lg-11" /></f:case>
                                <f:case value="col-lg-2">10/12<v:variable.set name="col-lg2-class" value="col-lg-10" /></f:case>
                                <f:case value="col-lg-3">9/12<v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-4">8/12<v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-5">7/12<v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-6">50%<v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-7">5/12<v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-8">4/12<v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-9">3/12<v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-10">2/12<v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-11">1/12<v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>


                <flux:field.select name="visibility-lg" label="Visibility on large desktop" default="" requestUpdate="1"
                                       items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on large desktop',1:'visible-lg'},
                           2:{0:'Hide on large desktop',1:'hidden-lg'}
                           }"
                />

            </flux:form.sheet>
            <flux:form.sheet name="help" label="Help" shortDescription="Help">
            <flux:field.custom name="customHelp">
                <div class="l">
                    <h2>HELP</h2>
                    <b>Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.</b>
                    <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any <code>.row</code>.</p>
                    <div class="row show-grid"> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> <div class="col-md-1">.col-md-1</div> </div>
                </div>
            </flux:field.custom>
            </flux:form.sheet>


            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="col0" label="Left Column <br><code>{col-xs}</code><code>{col-sm}</code><code>{col-md}</code><code>{col-lg}</code>" style="width:50%;" />
                    <flux:grid.column name="col1" label="Right Column <br><code>{col-xs}</code><code>{col-sm2-class}</code><code>{col-md2-class}</code><code>{col-lg2-class}</code>" style="width:50%;" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>



    <f:section name="Main">

        <f:if condition="{offset-sm}">
            <f:then>
                <f:switch expression="{col-sm}">
                    <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                    <f:case value="col-sm-2"> <v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                    <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                    <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                    <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                    <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                    <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                    <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                    <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                </f:switch>
                <v:variable.set name="col-sm-offset">col-sm-offset-1</v:variable.set>
                <f:if condition="!{offset-md}">
                	<f:if condition="{col-md}">
                		<f:then>
                			<v:variable.set name="col-sm-offset">{col-sm} col-md-offset-0</v:variable.set>
                		</f:then>
                		<f:else>
                			 <f:if condition="!{offset-lg}">
                				<f:if condition="{col-lg}">
                					<v:variable.set name="col-sm-offset">{col-sm} col-lg-offset-0</v:variable.set>
                				</f:if>
                			</f:if>
                		</f:else>
                	</f:if>
               	</f:if>
            </f:then>
            <f:else>
                <f:switch expression="{col-sm}">
                    <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-11" /></f:case>
                    <f:case value="col-sm-2"><v:variable.set name="col-sm2-class" value="col-sm-10" /></f:case>
                    <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                    <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                    <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                    <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                    <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                    <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                    <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                    <f:case value="col-sm-10"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                    <f:case value="col-sm-11"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                    <f:case value="col-sm-12"><v:variable.set name="col-sm2-class" value="col-sm-12" /></f:case>
                </f:switch>
            </f:else>
        </f:if>
        <f:if condition="{reverse-sm}">
          <f:switch expression="{col-sm}">
                    <f:case value="col-sm-1"><v:variable.set name="col-sm2-order" value="col-sm-pull-1" /><v:variable.set name="col-sm-order" value="col-sm-push-11" /></f:case>
                    <f:case value="col-sm-2"><v:variable.set name="col-sm2-order" value="col-sm-pull-2" /><v:variable.set name="col-sm-order" value="col-sm-push-10" /></f:case>
                    <f:case value="col-sm-3"><v:variable.set name="col-sm2-order" value="col-sm-pull-3" /><v:variable.set name="col-sm-order" value="col-sm-push-9" /></f:case>
                    <f:case value="col-sm-4"><v:variable.set name="col-sm2-order" value="col-sm-pull-4" /><v:variable.set name="col-sm-order" value="col-sm-push-8" /></f:case>
                    <f:case value="col-sm-5"><v:variable.set name="col-sm2-order" value="col-sm-pull-5" /><v:variable.set name="col-sm-order" value="col-sm-push-7" /></f:case>
                    <f:case value="col-sm-6"><v:variable.set name="col-sm2-order" value="col-sm-pull-6" /><v:variable.set name="col-sm-order" value="col-sm-push-6" /></f:case>
                    <f:case value="col-sm-7"><v:variable.set name="col-sm2-order" value="col-sm-pull-7" /><v:variable.set name="col-sm-order" value="col-sm-push-5" /></f:case>
                    <f:case value="col-sm-8"><v:variable.set name="col-sm2-order" value="col-sm-pull-8" /><v:variable.set name="col-sm-order" value="col-sm-push-4" /></f:case>
                    <f:case value="col-sm-9"><v:variable.set name="col-sm2-order" value="col-sm-pull-9" /><v:variable.set name="col-sm-order" value="col-sm-push-3" /></f:case>
                    <f:case value="col-sm-10"><v:variable.set name="col-sm2-order" value="col-sm-pull-10" /><v:variable.set name="col-sm-order" value="col-sm-push-2" /></f:case>
                    <f:case value="col-sm-11"><v:variable.set name="col-sm2-order" value="col-sm-pull-11" /><v:variable.set name="col-sm-order" value="col-sm-push-1" /></f:case>
                    <f:case value="col-sm-12"><v:variable.set name="col-sm2-order" value="col-sm-pull-12" /><v:variable.set name="col-sm-order" value="col-sm-push-12" /></f:case>
                </f:switch>
                 <f:if condition="!{reverse-md}">
                  <v:variable.set name="col-sm-order">{col-sm-order} {f:if(condition: reverse-md, then: '', else: 'col-md-push-0')}</v:variable.set> <v:variable.set name="col-sm2-order">{col-sm2-order} {f:if(condition: reverse-lg, then: '', else: 'col-md-push-0')}</v:variable.set>
                </f:if>
      </f:if>

        <f:if condition="{offset-md}">
            <f:then>
                <f:switch expression="{col-md}">
                    <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                    <f:case value="col-md-2"> <v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                    <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                    <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                    <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                    <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                    <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                    <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                    <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                </f:switch>
                 <v:variable.set name="col-md-offset">col-md-offset-1</v:variable.set>
                <f:if condition="!{offset-lg}">
                	<v:variable.set name="col-md-offset">{col-md-offset} col-lg-offset-0</v:variable.set>
               	</f:if>
            </f:then>
            
            <f:else>
                <f:switch expression="{col-md}">
                    <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-11" /></f:case>
                    <f:case value="col-md-2"><v:variable.set name="col-md2-class" value="col-md-10" /></f:case>
                    <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                    <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                    <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                    <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                    <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                    <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                    <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                    <f:case value="col-md-10"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                    <f:case value="col-md-11"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                </f:switch>
            </f:else>
        </f:if>

         <f:if condition="{reverse-md}">
          <f:switch expression="{col-md}">
                    <f:case value="col-md-1"><v:variable.set name="col-md2-order" value="col-md-pull-1" /><v:variable.set name="col-md-order" value="col-md-push-11" /></f:case>
                    <f:case value="col-md-2"><v:variable.set name="col-md2-order" value="col-md-pull-2" /><v:variable.set name="col-md-order" value="col-md-push-10" /></f:case>
                    <f:case value="col-md-3"><v:variable.set name="col-md2-order" value="col-md-pull-3" /><v:variable.set name="col-md-order" value="col-md-push-9" /></f:case>
                    <f:case value="col-md-4"><v:variable.set name="col-md2-order" value="col-md-pull-4" /><v:variable.set name="col-md-order" value="col-md-push-8" /></f:case>
                    <f:case value="col-md-5"><v:variable.set name="col-md2-order" value="col-md-pull-5" /><v:variable.set name="col-md-order" value="col-md-push-7" /></f:case>
                    <f:case value="col-md-6"><v:variable.set name="col-md2-order" value="col-md-pull-6" /><v:variable.set name="col-md-order" value="col-md-push-6" /></f:case>
                    <f:case value="col-md-7"><v:variable.set name="col-md2-order" value="col-md-pull-7" /><v:variable.set name="col-md-order" value="col-md-push-5" /></f:case>
                    <f:case value="col-md-8"><v:variable.set name="col-md2-order" value="col-md-pull-8" /><v:variable.set name="col-md-order" value="col-md-push-4" /></f:case>
                    <f:case value="col-md-9"><v:variable.set name="col-md2-order" value="col-md-pull-9" /><v:variable.set name="col-md-order" value="col-md-push-3" /></f:case>
                    <f:case value="col-md-10"><v:variable.set name="col-md2-order" value="col-md-pull-10" /><v:variable.set name="col-md-order" value="col-md-push-2" /></f:case>
                    <f:case value="col-md-11"><v:variable.set name="col-md2-order" value="col-md-pull-11" /><v:variable.set name="col-md-order" value="col-md-push-1" /></f:case>
                    <f:case value="col-md-12"><v:variable.set name="col-md2-order" value="col-md-pull-12" /><v:variable.set name="col-md-order" value="col-md-push-12" /></f:case>
                </f:switch>
                 <f:if condition="!{reverse-lg}">
                  <v:variable.set name="col-md-order">{col-md-order} {f:if(condition: reverse-lg, then: '', else: 'col-lg-push-0')}</v:variable.set> <v:variable.set name="col-md2-order">{col-md2-order} {f:if(condition: reverse-lg, then: '', else: 'col-lg-pull-0')}</v:variable.set>
                </f:if>
      </f:if>

        <f:if condition="{offset-lg}">
            <f:then>
                <f:switch expression="{col-lg}">
                    <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                    <f:case value="col-lg-2"> <v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                    <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                    <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                    <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                    <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                    <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                    <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                    <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                </f:switch>
                <v:variable.set name="col-lg-offset">col-lg-offset-1</v:variable.set>
            </f:then>
            <f:else>
                <f:switch expression="{col-lg}">
                    <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-11" /></f:case>
                    <f:case value="col-lg-2"><v:variable.set name="col-lg2-class" value="col-lg-10" /></f:case>
                    <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                    <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                    <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                    <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                    <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                    <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                    <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                    <f:case value="col-lg-10"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                    <f:case value="col-lg-11"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                </f:switch>
            </f:else>
        </f:if>

        <f:if condition="{reverse-lg}">
          <f:switch expression="{col-lg}">
                    <f:case value="col-lg-1"><v:variable.set name="col-lg2-order" value="col-lg-pull-1" /><v:variable.set name="col-lg-order" value="col-lg-push-11" /></f:case>
                    <f:case value="col-lg-2"><v:variable.set name="col-lg2-order" value="col-lg-pull-2" /><v:variable.set name="col-lg-order" value="col-lg-push-10" /></f:case>
                    <f:case value="col-lg-3"><v:variable.set name="col-lg2-order" value="col-lg-pull-3" /><v:variable.set name="col-lg-order" value="col-lg-push-9" /></f:case>
                    <f:case value="col-lg-4"><v:variable.set name="col-lg2-order" value="col-lg-pull-4" /><v:variable.set name="col-lg-order" value="col-lg-push-8" /></f:case>
                    <f:case value="col-lg-5"><v:variable.set name="col-lg2-order" value="col-lg-pull-5" /><v:variable.set name="col-lg-order" value="col-lg-push-7" /></f:case>
                    <f:case value="col-lg-6"><v:variable.set name="col-lg2-order" value="col-lg-pull-6" /><v:variable.set name="col-lg-order" value="col-lg-push-6" /></f:case>
                    <f:case value="col-lg-7"><v:variable.set name="col-lg2-order" value="col-lg-pull-7" /><v:variable.set name="col-lg-order" value="col-lg-push-5" /></f:case>
                    <f:case value="col-lg-8"><v:variable.set name="col-lg2-order" value="col-lg-pull-8" /><v:variable.set name="col-lg-order" value="col-lg-push-4" /></f:case>
                    <f:case value="col-lg-9"><v:variable.set name="col-lg2-order" value="col-lg-pull-9" /><v:variable.set name="col-lg-order" value="col-lg-push-3" /></f:case>
                    <f:case value="col-lg-10"><v:variable.set name="col-lg2-order" value="col-lg-pull-10" /><v:variable.set name="col-lg-order" value="col-lg-push-2" /></f:case>
                    <f:case value="col-lg-11"><v:variable.set name="col-lg2-order" value="col-lg-pull-11" /><v:variable.set name="col-lg-order" value="col-lg-push-1" /></f:case>
                    <f:case value="col-lg-12"><v:variable.set name="col-lg2-order" value="col-lg-pull-12" /><v:variable.set name="col-lg-order" value="col-lg-push-12" /></f:case>
                </f:switch>
                
      </f:if>

        <v:variable.set name="classes_col_1" value="{col-xs} {f:if(condition: col-sm, then: col-sm, else: '')} {f:if(condition: col-sm-offset, then: col-sm-offset, else: '')} {f:if(condition: reverse-sm, then: col-sm-order, else: '')} {f:if(condition: col-md, then: col-md, else: '')} {f:if(condition: col-md-offset, then: col-md-offset, else: '')} {f:if(condition: reverse-md, then: col-md-order, else: '')} {f:if(condition: col-lg, then: col-lg, else: '')} {f:if(condition: col-lg-offset, then: col-lg-offset, else: '')} {f:if(condition: reverse-lg, then: col-lg-order, else: '')}" />
        <v:variable.set name="classes_col_2" value="{col-xs} {col-sm2-class} {f:if(condition: reverse-sm, then: col-sm2-order, else: '')} {col-md2-class} {f:if(condition: reverse-md, then: col-md2-order, else: '')} {col-lg2-class} {f:if(condition: reverse-lg, then: col-lg2-order, else: '')}" />

        <div class="row {visibility-xs} {visibility-sm} {visibility-md} {visibility-lg}">
            <div class="{classes_col_1}">
                <flux:content.render area="col0" />
            </div>
            <div class="{classes_col_2}">
                <flux:content.render area="col1" />
            </div>
        </div>
    </f:section>

    <f:section name="Classes">

    </f:section>
	
	 <f:section name="GridPreview">
	 
	 				          <f:if condition="{offset-sm}">
                        <f:then>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-2"><v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                               
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-11" /></f:case>
                                <f:case value="col-sm-2"><v:variable.set name="col-sm2-class" value="col-sm-10" /></f:case>
                                <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-10"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-11"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                                <f:case value="col-sm-12"><v:variable.set name="col-sm2-class" value="col-sm-12" /></f:case>
                               
                            </f:switch>
                        </f:else>
                    </f:if>
                    <f:if condition="{offset-md}">
                        <f:then>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-2"><v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                               
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-11" /></f:case>
                                <f:case value="col-md-2"><v:variable.set name="col-md2-class" value="col-md-10" /></f:case>
                                <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-10"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-11"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                               
                            </f:switch>
                        </f:else>
                    </f:if>
                    <f:if condition="{offset-lg}">
                        <f:then>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-2"><v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-11" /></f:case>
                                <f:case value="col-lg-2"><v:variable.set name="col-lg2-class" value="col-lg-10" /></f:case>
                                <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-10"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-11"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                    <f:if condition="{visibility-xs} == 'visible-xs'">
                      <v:variable.set name="visible-xs-class" value="show" />
                      <f:if condition="{visibility-sm} != 'visible-sm'">
                        <v:variable.set name="visible-sm-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-md} != 'visible-md'">
                        <v:variable.set name="visible-md-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-lg} != 'visible-lg'">
                        <v:variable.set name="visible-lg-class" value="hide" />
                      </f:if>
                    </f:if>

                    <f:if condition="{visibility-sm} == 'visible-sm'">
                      <v:variable.set name="visible-sm-class" value="show" />
                      <f:if condition="{visibility-xs} != 'visible-xs'">
                        <v:variable.set name="visible-xs-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-md} != 'visible-md'">
                        <v:variable.set name="visible-md-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-lg} != 'visible-lg'">
                        <v:variable.set name="visible-lg-class" value="hide" />
                      </f:if>
                    </f:if>

                    <f:if condition="{visibility-md} == 'visible-md'">
                      <v:variable.set name="visible-md-class" value="show" />
                      <f:if condition="{visibility-xs} != 'visible-xs'">
                        <v:variable.set name="visible-xs-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-sm} != 'visible-sm'">
                        <v:variable.set name="visible-sm-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-lg} != 'visible-lg'">
                        <v:variable.set name="visible-lg-class" value="hide" />
                      </f:if>
                    </f:if>

                    <f:if condition="{visibility-lg} == 'visible-lg'">
                      <v:variable.set name="visible-lg-class" value="show" />
                      <f:if condition="{visibility-xs} != 'visible-xs'">
                        <v:variable.set name="visible-xs-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-sm} != 'visible-sm'">
                        <v:variable.set name="visible-sm-class" value="hide" />
                      </f:if>
                      <f:if condition="{visibility-md} != 'visible-md'">
                        <v:variable.set name="visible-md-class" value="hide" />
                      </f:if>
                    </f:if>

                    <f:if condition="{visibility-xs} == 'hidden-xs'">
                      <v:variable.set name="visible-xs-class" value="hide" />
                    </f:if>
                    <f:if condition="{visibility-sm} == 'hidden-sm'">
                      <v:variable.set name="visible-sm-class" value="hide" />
                    </f:if>
                    <f:if condition="{visibility-md} == 'hidden-md'">
                      <v:variable.set name="visible-md-class" value="hide" />
                    </f:if>
                    <f:if condition="{visibility-lg} == 'hidden-lg'">
                      <v:variable.set name="visible-lg-class" value="hide" />
                    </f:if>

	   <flux:field.custom name="customPreview">
                	<style>
                		div.l .col-xs-12,
                		div.l .col-sm-12,
                		div.l .col-md-12,
                		div.l .col-lg-12 {
                			width: 100%;
                		}
                		div.l .col-xs-11,
                		div.l .col-sm-11,
                		div.l .col-md-11,
                		div.l .col-lg-11 {
                			width: 91.66666667%;
                		}
                		div.l .col-xs-10,
                		div.l .col-sm-10,
                		div.l .col-md-10,
                		div.l .col-lg-10 {
                			width: 83.33333333%;
                		}
                		div.l .col-xs-9,
                		div.l .col-sm-9,
                		div.l .col-md-9,
                		div.l .col-lg-9 {
                			width: 75%;
                		}
                		div.l .col-xs-8,
                		div.l .col-sm-8,
                		div.l .col-md-8,
                		div.l .col-lg-8 {
                			width: 66.66666667%;
                		}
                		div.l .col-xs-7,
                		div.l .col-sm-7,
                		div.l .col-md-7,
                		div.l .col-lg-7 {
                			width: 58.33333333%;
                		}
                		div.l .col-xs-6,
                		div.l .col-sm-6,
                		div.l .col-md-6,
                		div.l .col-lg-6 {
                			width: 50%;
                		}
                		div.l .col-xs-5,
                		div.l .col-sm-5,
                		div.l .col-md-5,
                		div.l .col-lg-5 {
                			width: 41.66666667%;
                		}
                		div.l .col-xs-4,
                		div.l .col-sm-4,
                		div.l .col-md-4,
                		div.l .col-lg-4 {
                			width: 33.33333333%;
                		}
                		div.l .col-xs-3,
                		div.l .col-sm-3,
                		div.l .col-md-3,
                		div.l .col-lg-3 {
                			width: 25%;
                		}
                		div.l .col-xs-2,
                		div.l .col-sm-2,
                		div.l .col-md-2,
                		div.l .col-lg-2 {
                			width: 16.66666667%;
                		}
                		div.l .col-xs-1,
                		div.l .col-sm-1,
                		div.l .col-md-1,
                		div.l .col-lg-1 {
                			width: 8.33333333%;
                		}
                		div.l .col-xs-offset-1,
                		div.l .col-sm-offset-1,
                		div.l .col-md-offset-1,
                		div.l .col-lg-offset-1 {
                			margin-left: 8.33333333%;
                		}
                		.smartphone {
						    display: inline-block;
						    width: 10%;
						}
						.tablet {
						    display: inline-block;
						    width: 20%;
						}
						.desktop {
						    display: inline-block;
						    width: 30%;
						}
						.large_desktop {
						    display: inline-block;
						    width: 38%;
						}
                		.show {
						    border: 1px solid;
						    height: 100px;
						    padding: 3%;
						    float: left;
    						width: 100%;
						}
						.show div {
						    background: #000;
						    border: 1px solid #fff;
						    height: 20px;
						    float: left;
						}
            .show.hide div {
              background: rgba(0,0,0,0.5);
            }
                	</style>
 
                    <div class="l">
                    	<div class="smartphone">
                        <p>Smartphone:</p>
                        <div class="show {visible-xs-class}">
                        	<f:if condition="{col-xs}">
                        	<div class="{col-xs}"></div>
                        	<div class="{col-xs}"></div>
                        	</f:if>
                        </div>
                        </div>
                        <div class="tablet">
                        <p>Tablet:</p>
                     
                        <div class="show {visible-sm-class}">
                        	 <f:if condition="{col-sm}">
		                        <f:then>
		                        	<div class="{col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')}"></div>
                        			<div class="{col-sm2-class}"></div>
		                        </f:then>
		                        <f:else>
		                        	<div class="{col-xs}"></div>
                        			<div class="{col-xs}"></div>
		                        </f:else>
		                    </f:if>
                        <f:if condition="{reverse-sm}">
                                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                              </f:if>
                        </div>
                        </div>
                        <div class="desktop">
                        <p>Desktop:</p>

                        <div class="show {visible-md-class}">
                        	<f:if condition="{col-md}">
		                        <f:then>
		                        	<div class="{col-md}{f:if(condition: offset-md, then: ' col-md-offset-1', else: '')}"></div>
                        			<div class="{col-md2-class}"></div>
		                        </f:then>
		                        <f:else>
		                        	<f:if condition="{col-sm}">
				                        <f:then>
				                        	<div class="{col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')}"></div>
		                        			<div class="{col-sm2-class}"></div>
				                        </f:then>
				                        <f:else>
				                        	<div class="{col-xs}"></div>
		                        			<div class="{col-xs}"></div>
				                        </f:else>
				                    </f:if>
		                        </f:else>
		                    </f:if>
                        <f:if condition="{reverse-md}">
                                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                              </f:if>
                        </div>
                        </div>
                        <div class="large_desktop">
                        <p>Large desktop:</p>
       
                        <div class="show {visible-lg-class}">
                        	<f:if condition="{col-lg}">
		                        <f:then>
		                        	<div class="{col-lg}{f:if(condition: offset-lg, then: ' col-lg-offset-1', else: '')}"></div>
                        			<div class="{col-lg2-class}"></div>
		                        </f:then>
		                        <f:else>
		                        	<f:if condition="{col-md}">
				                        <f:then>
				                        	<div class="{col-md}{f:if(condition: offset-md, then: ' col-md-offset-1', else: '')}"></div>
		                        			<div class="{col-md2-class}"></div>
				                        </f:then>
				                        <f:else>
				                        	<f:if condition="{col-sm}">
						                        <f:then>
						                        	<div class="{col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')}"></div>
				                        			<div class="{col-sm2-class}"></div>
						                        </f:then>
						                        <f:else>
						                        	<div class="{col-xs}"></div>
				                        			<div class="{col-xs}"></div>
						                        </f:else>
						                    </f:if>
				                        </f:else>
				                    </f:if>
		                        </f:else>
		                    </f:if>
                        <f:if condition="{reverse-lg}">
                                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                              </f:if>
                        </div>
                        </div>
                    </div>
                </flux:field.custom>
    </f:section>


</div>
